<h1>Create A New Tweet</h1>

<form action="/tweets" method="post">
  <label>Tweet:</label>
  <input type="text" name="content">

  <input type="submit" class="btn btn-primary" value="submit">

</form>
